---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 100
DerivePointerAlignment: false
IndentWidth: 2
PointerAlignment: Left
SortIncludes: CaseSensitive
